body, html {
    height: 100%;
    width:100%;


  margin:0;
  padding:0;
  position:relative;
}
h1 {
  color:#4a4a4a;
  
}
img {
  margin: 0 auto;
  display:block;
}
/*PRELOADING------------ */

#overlayer {
  width:100%;
  height:100%;  
  position:fixed;
  text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  z-index:1;
  background:#0000009d;
}


.preloader p{
    position: absolute;
    top: 40%;
    left: 43%;
    margin-left: -45px;
    width: 20%;
   
    
    text-align: center;
    color: #fff;
    font-size: 24px;
    z-index: 3;
}
.loader {
  margin: auto;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index:3;
  border: 4px solid #740f40;
  top: 40%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #740f40;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}